/* Overrides for default VIZIA widgets */

:root {
  background-color: #fafafa;
  color: #0a0a0a;
  font-size: 15;
  /*
   * NOTE: vizia's font rendering looks way too dark and thick. Going one font
   *       weight lower seems to compensate for this.
   */
  font-weight: light;
}

scrollview > scroll_content {
  /* Normally the scroll bar overlaps with the content, so we'll add a little offset to prevent that */
  child-right: 15px;
}
scrollview scrollbar {
  background-color: #dadada;
  border-radius: 0px;
  child-space: 0px;
}
scrollview scrollbar.horizontal {
  right: 10px;
  height: 10px;
}
scrollview scrollbar.vertical {
  width: 10px;
}
scrollview scrollbar .thumb {
  background-color: #5d5d5d;
  border-radius: 0px;
  min-width: 10px;
  min-height: 10px;
  transition: background-color 100ms;
}
scrollview scrollbar .thumb:hover {
  background-color: #808080;
  transition: background-color 100ms;
}
