/* Default styling for the widgets included in nih_plug_vizia */

generic-ui {
  child-space: 10px;
  col-between: 5px;
  layout-type: column;
  row-between: 5px;
}

generic-ui .row {
  col-between: 6px;
  layout-type: row;
}

generic-ui .label {
  left: 1s;
  top: 1s;
  bottom: 1s;
  right: 0;
}

param-slider {
  height: 30px;
  width: 180px;
  border-color: #0a0a0a;
  border-width: 1px;
  background-color: transparent;
  transition: background-color 0.1 0;
}

/* Vizia doesn't support commas in selectors */
/* Also, WTB Sass */
param-slider:active {
  background-color: #8080801a;
  transition: background-color 0.1 0;
}
param-slider:hover {
  background-color: #8080801a;
  transition: background-color 0.1 0;
}

param-slider .fill {
  background-color: #c4c4c4;
}

/* This is a textbox, but we want it to appear just like the label */
param-slider .value-entry {
  /* Vizia doesn't support the unset value */
  background-color: transparent;
  border-width: 0px;
}
param-slider .value-entry .caret {
  background-color: #0a0a0a;
}
param-slider .value-entry .selection {
  background-color: #0a0a0a30;
}

peak-meter {
  height: 30px;
  width: 180px;
}

peak-meter .bar {
  height: 50%;
  border-width: 1px;
  border-color: #0a0a0a;
}

peak-meter .ticks {
  height: 50%;
}
peak-meter .ticks__tick {
  background-color: #0a0a0a;
  top: 0;
  width: 1px;
  height: 30%;
}
peak-meter .ticks__label {
  top: 4px; /* In pixels in an attempt to get this to better align to the grid */
  font-size: 11; /* 14.667px */
}
